:host ::ng-deep .p-ripple{
    background-color: coral;
    border: none;
    border-radius: 12px;
}

:host ::ng-deep .p-inputgroup-addon:last-child, .p-inputgroup button:last-child, .p-inputgroup input:last-child, .p-inputgroup > .p-inputwrapper:last-child > .p-component, .p-inputgroup > .p-inputwrapper:last-child > .p-component > .p-inputtext{
    border-color: coral;
}